<!DOCTYPE html>
<html>
<head>
    <title>Send Command</title>

</head>
<body>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <h1>Send Command to Device</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>


<script>
$(document).ready(function () {
    $(document).on('keydown', function (event) {
        let args = null;
        let direction;

        // Обработка клавиш
        switch (event.key) {
            case 'ArrowUp': // Стрелка вверх
                direction = "1";
                break;
            case 'ArrowRight': // Стрелка вправо
                direction = "2";
                break;
            case 'ArrowDown': // Стрелка вниз
                direction = "3";
                break;
            case 'ArrowLeft': // Стрелка влево
                direction = "4";
                break;
            default:
                return; // Игнорировать другие клавиши
        }

        event.preventDefault(); // Отключаем стандартное поведение браузера

        // Проверка наличия IP в форме
        const ip = $('#id_ip').val();
        if (!ip) {
            alert('Пожалуйста, введите IP-адрес');
            return;
        }

        // Отправка AJAX-запроса
        $.ajax({
            url: '{% url "send_command" %}', // URL маршрута Django
            type: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                ip: ip,
                command: 'go',
                args: direction + ",255,500" // Передаем аргументы
            },
            dataType: 'json',
            success: function (response) {
                console.log('Ответ от сервера:', response);
            },
            error: function (xhr, status, error) {
                console.error('Ошибка:', error);
            }
        });
    });
});

</script>
</body>
</html>